{% extends 'layout.html' %} {% block content %}
<main id="main1">
    <p>
        MOVIES R US has the right to store and sell any information provided by the user. <br><br>
        All registered users consent to MOVIES R US automatically deducting $500 from their bank accounts per month. <br><br>
        MOVIES R US holds no responsibility for the loss of user login information, or any bugs found on the website. <br><br>
        MOVIES R US does not have to provide functionality to play movies to the users. <br><br>
        Also, to any markers out there who took the time to read these terms and conditions --> Hi, how are ya?

    </p>

</main>

{% endblock %}