@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    color: black;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

body,
html {
    height: 100%;
}

h1 {
    text-align: center;
    font-weight: bold;
}

img {
    display: block;
    width: 500px;
    height: auto;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

.img-small {
    display: block;
    width: 300px;
    height: auto;
    padding: 5px;
    margin-left: auto;
    margin-right:auto;
}

.btn-nav-act-dir {
    padding: 5px;
    color: #bdb8d7;
    display: inline-table;
}

.btn-nav-gen {
    padding: 5px;
    color: #bdb8d7;
    display: inline-table;
}
.btn-nav-mov_disp {
    padding: 5px;
    color: #bdb8d7;
    display: block;
}

.btn-nav {
    padding: 10px;
    color: tomato;
    display: block;
}
.btn-nav_bottom {
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    color: tomato;
    display: block;
}

.btn-nav:hover {
    color: #bdb8d7;
}
.btn-nav_bottom:hover {
    color: #bdb8d7;
}
.btn-nav-act-dir:hover {
    background-color: #f7f7f7;
    color: tomato;
}
.btn-nav-mov_disp:hover {
    background-color: #f7f7f7;
    color: tomato;
}

.btn-general {
    background-color: #282828;
    color: white;
    border: none;
    border-radius: 8px;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    float:left;
}

.btn-general-disabled {
    background-color: #282828;
    border: none;
    border-radius: 8px;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    float:left;
    #opacity: 0.6;
}

.btn-general:hover {
    background-color: #8acd32;
    color: black;
}

.textarea {
    width: 100%;
    overflow: auto;
    word-break: break-all;
}

#body {
    min-height: 100%;
    margin-bottom: -60px;
    font-size: medium;
}

#header {
    padding: 20px;
    background: #fff;
    border-bottom: 1px solid #e0e4e8;
    font-size: 64px;
    font-weight: bold;
    text-align: left;
}

#content-2 {
    height: 100vh;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
}

#container {
    display: flex;
    flex-direction: row;
}

#nav {
    width: 200px;
    height: 100%;
    background: #282828;
    padding: 30px 0px;
    position: fixed;
}

#nav-header {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 12px;
}

#sub-nav-header {
    color: #fff;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
}
#nav-footer {
    color: #ffffff;
    margin-top: 25px;
    margin-bottom: 55px;
    margin-left: 10px;
    position: absolute;
    bottom: 0;
    font-size: small;
    text-align: center;
    word-wrap: break-word;}

#nav-footer1 {
    color: #ffffff;
    margin-top: 25px;
    margin-bottom: 40px;
    margin-left: 10px;
    position: absolute;
    bottom: 0;
    font-size: small;
    text-align: center;
    word-wrap: break-word;}

#nav-footer2 {
    color: #ffffff;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 10px;
    position: absolute;
    bottom: 0;
    font-size: small;
    text-align: center;
    word-wrap: break-word;}

#nav-footer3 {
    color: #ffffff;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 10px;
    position: absolute;
    bottom: 0;
    font-size: small;
    text-align: center;
    word-wrap: break-word;}

#main {
    margin: 20px;
    color: #717171;
    line-height: 25px;
    padding: 10px;
    width: 66.666667%;}

#main1 {
    margin: 20px;
    color: #717171;
    font-size: medium;
    line-height: 25px;
    padding: 20px;
    width: 66.666667%;
}

#home_mov{
    margin: 20px;
    color: #717171;
    line-height: 25px;
    padding: 10px;
    align-content: center;
    width: 66.666666666%;
}


#logo {
    width: 150px;
}

#sidebar {
    background-color: #1e1e1e;
    color: #717171;
    width: 33.333333%;
    min-height: 100vh;
    height: 100%;
    padding: 20px;

}
#sidebar_title{
    color: #f7f7f7;
    border-right: 5px solid #f7f7f7;
    border-bottom: 5px solid #f7f7f7;
    border-left: 5px solid #f7f7f7;
    border-top: 5px solid #f7f7f7;
    padding: 20px;
}

#article-header {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

#article {
    clear:both;
    margin-bottom:100px;
}

#article-footer {
    font-size: 32px;
}

#article-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
#username_text{
    font-weight: bold;
}

#small{
    font-size: 13px;
}
#sidebartext{
    color: #aaaaaa;
    text-align: center;
    border-bottom: 5px;
}
.sidebartext{
    color: #f7f7f7;
}
.sidebartext:hover{
    color:tomato;
}
.small_bl{
    font-size: 13px;
    color: blue;
}
#movie_name_display{
    padding: 20px;
    background: #fff;

    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

input[type='text'],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

input[type='searches'],
    select {
            font-size: 15px;
            width: 100%;
            padding: 5px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }


input[type='password'],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

input[type='submit'] {
    width: 100%;
    background-color: #282828;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type='submit']:hover {
    background-color: #8acd32;
    color: black;
}
textarea[type='searches'],
    select {
            font-size: 15px;
            width: 100%;
            padding: 5px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
}

.icon {
    width: 1.5em;
    height: 1.5em;
    vertical-align: -0.5em;
    fill: currentColor;
    overflow: hidden;
}
